@media screen and (max-width: 1150px) {
}
@media screen and (max-width: 991px) {
  .landingpage .sec-one {
    padding: 60px 40px;
  }
  .landingpage .sec-three {
    padding: 60px 40px;
  }
  .landingpage .sec-four {
    padding: 60px 40px;
  }
  .landingpage .sec-five {
    padding: 60px 40px;
  }
  .landingpage .sec-six {
    padding: 60px 40px;
  }
  .landingpage .sec-seven {
    padding: 60px 40px;
  }
  .landingpage .sec-eight {
    padding: 60px 40px;
  }
}
@media screen and (max-width: 768px) {
  .userDashboard .content-page {
    margin-left: 0;
    margin-top: 20px;
  }
  .css-wf16b5 {
    background-color: #051a2e !important;
  }
  .css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: #051a2e !important;
  }
  .css-1wi9kp8 {
    background-color: #051a2e !important;
    padding-top: 80px !important;
    margin-bottom: 40px !important;
  }
  .css-l3frgm {
    margin-left: 0px !important;
  }
  .css-73x0r9 {
    margin-left: 0px !important;
  }
}
@media screen and (max-width: 500px) {
}
